[submodule "extern/openlibm"]
	path = extern/openlibm
	url = https://github.com/JuliaMath/openlibm.git
[submodule "extern/doxybook"]
	path = extern/doxybook
	url = https://github.com/espressif/doxybook.git
